body {
    margin: 0;
    padding: 0;
}
li {
    display: flex;
}

.container1 {
    background-color: rgb(196, 190, 190);
    margin-top: 2%;
}

.container2 {
    background-color: rgb(196, 190, 190);
    margin-top: 2%;
}

.container3 {
    background-color: rgb(196, 190, 190);
    margin-top: 2%;
}

.container4 {
    background-color: rgb(196, 190, 190);
    margin-top: 2%;
}

.container5 {
    background-color: rgb(196, 190, 190);
    margin-top: 2%;
}

.container6 {
    background-color: rgb(196, 190, 190);
    margin-top: 2%;
}

.um {
    display: flex;
    justify-content: flex-start;
}

.dois {
    display: flex;
    justify-content: flex-end;
}

.tres {
    display: flex;
    justify-content: center;
}

.quatro {
    display: flex;
    justify-content: space-between;
}

.cinco {
    display: flex;
    justify-content: space-around;
}

.seis {
    display: flex;
    justify-content: space-evenly;
}

.azulClaro {
    background-color: aqua;
    padding: 20px;
}

.azulEscuro {
    background-color: rgb(52, 0, 110);
    padding: 20px;
}

.rosa {
    background-color: rgb(240, 49, 166);
    padding: 20px;
}

.laranja {
    background-color: orange;
    padding: 20px;
}