body {
    background-color: whitesmoke;
}

.container {
    margin-top: 7%;
    margin-left: 36%;
    background-color: bisque;
    float: left;
    padding: 6%;
    border-radius: 8px;
    box-shadow: 1px 1px  1px black;
}

input {
    border: 2px solid #000;
    height: 30px;
    border-radius: 5px;
}

button {
    height: 40px;
    width: 90px;
    border-radius: 5px;
    border: none;
    background-color: darkslategray;
    padding: 2px;
    box-shadow: 2px 2px black; 
}

h3{
    margin-left: 15%;
}

